[role='navigation'] {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  padding: 0 5rem;

  & li > a {
    height: 100%;
    width: 100%;
    padding: 10px 1rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: var(--color-bg-main);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-primary);
    cursor: pointer;
  }

  & li:hover > a {
    background-color: var(--color-primary);
  }

  & li.page-active a {
    background-color: var(--color-bg-active);
    color: #fff;
    pointer-events: none;
  }

  & li.page-disabled a {
    color: #fff;
    background-color: var(--color-bg-disabled);
    cursor: default;
  }

  @media (max-width: 999.98px) {
    display: flex;
    flex-wrap: wrap;

    & li {
      margin-top: 10px;
    }
  }

  @media (max-width: 646.98px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 2rem auto;
    justify-content: center;
    column-gap: 5px;

    & li.page-active a {
      min-width: 15px;
    }

    & li {
      margin-top: 10px;
    }
  }
}
