:root {
  /* ============= UI-Palette  ============= */
  --ff-nunito: 'Nunito', sans-serif;
  --h1-size: 32px;
  --h4-size: 16px;
  --c-white: #ffffff;
  --c-whitesmoke: #f8f8f8;
  --c-black: #000000;
  --c-black-80: rgba(0, 0, 0, 0.8);
  --c-black-25: rgba(0, 0, 0, 0.25);
  --c-lightgray: #eeeeee;
  --c-darkgray: #b4b4b4;
  --c-grayblue: #a4b0be;
  --c-skyblue: #41c1f4;
  --c-blue: #003892;
  --c-lightgreen: #90ee90;
  --c-darkblue: rgb(26, 24, 62);
  --c-darkblue-20: rgba(65, 193, 244, 0.2);
  --c-dark-wave: #202c37;
  --c-yellow: #ffe302;
  --c-red: #ff0000;

  /* ============= VAR'S ============= */
  --font-family-primary: var(--ff-nunito);
  --font-size-primary: 16px;
  --color-primary: var(--c-skyblue);
  --color-secondary: var(--c-skyblue);
  --color-primary-light: var(--c-darkblue-20);
  --color-text-primary: var(--c-black-80);
  --color-text-accent: var(--c-darkblue-20);
  --color-bg-main: var(--c-whitesmoke);
  --colors-bg-base: var(--c-white);
  --color-bg-active: var(--c-yellow);
  --color-bg-focus: var(--c-red);
  --color-bg-hover: var(--c-darkblue-20);
  --color-bg-disabled: var(--c-darkgray);
  --color-bg-lightdark: var(--c-lightgray);
  --shadow: 2px 7px 32px -16px var(--c-black-80);
  --shadow-tiny: 2px 7px 16px -16px var(--c-black-80);
  --shadow-focus: 0 0 3px var(--color-bg-focus);
}

body.dark {
  --color-text-primary: var(--c-white);
  --color-text-accent: var(--c-whitesmoke);
  --color-text-dark: var(--c-black);
  --color-bg-main: var(--c-dark-wave);
  --color-bg-lightdark: var(--c-dark-wave);
  --color-ui-base: #2b3945;
  --shadow: 0 0 8px rgba(245, 245, 245, 0.2);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  font-weight: 400;
  background-color: var(--color-bg-main);
  font-size: var(--font-size-primary);
  color: var(--color-text-primary);
  transition: background 0.3s ease-in-out;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-size: var(--h1-size);
}

h4 {
  font-size: var(--h4-size);
}
