.card {
	width: 350px;
	min-height: 518px;
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.card:hover {

	&>.card-image img {
		transform: scale(1.08);
		z-index: 9;
	}
}

.card .card-body {
	width: 370px;
	background-color: #ffffff;
	border-radius: 15px;
	margin-top: 30px;
	padding-bottom: 5px;
	-webkit-box-shadow: 2px 7px 32px -16px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 7px 32px -16px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 7px 32px -16px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .card-image {
	position: absolute;
	margin-bottom: auto;
	overflow: hidden;
	width: 300px;
	height: 320px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	background-color: #ffffff;
}

.card .card-image img {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .3s ease;
}

.card .card-body .card-description {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 328px;
	min-height: 140px;
	margin-top: 302px;
	font-weight: 400;
	font-size: 18px;
	color: #1a183e;
}

.card .card-body .card-description .card-title {
	width: 100%;
	height: 50px;
	margin: 3px auto;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card .card-body .card-description .card-title h4 {
	margin: 3px auto;
	font-weight: 700;
	font-size: 18px;
	color: #1a183e;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card .card-footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 10px;
}


.card-footer_bottom {
	margin-top: 10px;
	padding: 0 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #84848498;
}

.card-lessons,
.card-rating {
	flex: 1 1 50%;
	padding: 5px 15px;
}

.card-rating {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.star {
	color: #FFE302;
}
